{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>CADASTRE</h3>
        <form method="post" action="{{url_for('add_cliente')}}">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" required class="form-control" placeholder="Nome">
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <input type="text" name="telefone" required class="form-control" placeholder="Telefone">
            </div>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}